
	body{

		background-color: #909194;
	}
	h1{

		text-align: center;
		color: white;
		font-family: 'Baloo Bhaina', cursive;
	}
	#main{

		margin:auto;
		background-color: blue;
		border-radius: 90px;
		border:groove 5px white;
		background-color: #000000;

		
	}

	#Screen{

		width:230px; 
		height:70px;
		background-color: rgba(0, 0, 0, 0.5);
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		line-height: 2pt;
		font-family: 'Press Start 2P', cursive;
		font-size: 10px;
		text-align: right;

	}
	#num{

		font-size: 13px;
		padding: 5px 1px;
		width: 220px;
		text-align: right;
		border-bottom: groove 1px #3d3d3d;
		font-family: 'Press Start 2P', cursive;
		border: 0px;
		background-color: rgba(255, 255, 255, 0);
	}
	#ResultScreen{

		font-size: 20px;
		border:0px;
		text-align: right;
		font-family: 'Press Start 2P', cursive;
		height: 30px;
		width: 220px;	
		border: 0px;
		background-color: rgba(255, 255, 255, 0);
	
		
	}


	#Calculadora{

		 width: 236px;
    	height: 300px;
    	background-color:  rgba(187, 255, 255, 0.5);
    	line-height: 2pt;
    	
    	margin: 0 auto;
    	border:double 5px #000000;
    	border-radius: 9px;
 

	}

	.line{

		margin-left:15px;
		margin-right: :0 auto;
		display: inline;
		line-height: 25pt;
	


	}

	.button{

		background-color: ;
		font-size:15px;

		display: inline-block;
		font-family: 'Baloo Bhaina', cursive;
		border-radius: 8px;
		border:none;
		width: 20%;
		height:20%;
		float: center;
		box-shadow: -1px 1px 0px #000000;



	}

.button:hover{

    box-shadow:inset 2px 1px 7px #000000;


}   